- @page_title = "Pro rodi훾e a u훾itele"
.col1.main
  %h2 Pro rodi훾e a u훾itele
  .box.box-detail1.item
  .box.box-detail2.item
  notes=@notes.find(1)
    %p.rodice= notes.perex    
  .box.box-detail3.item   
.col2b
  = render :partial => 'shared/box_search'

