- hint = Hint.box_hint
.box
  .h
    %h3 Proč technický obor
  .ins.news
    %h4 Technický obor – jistá budoucnost,  
    %p Nečekejte žádnou ubíjející rutinu v kanceláři. Vás čeká tvůrčí profese, která vám přinese uspokojení i uznání. Získáte jistotu dobrého zaměstnání a prostor učit se i objevovat nové věci. ...
    = link_to 'čtěte více', 'proc-technicky-obor', :class => 'button-more'
  .b    
  
