.box
  .h
    %h3 Dny otevřených dveříx
  .in.openDays
    %ul
      - OpenDoor.box_days1.each do |day|
        %li= link_to "<span class=\"fl\" style='color:black;'>Nejbližsí den otevřených dveří:</span><span class=\"fl\" style='color:#cc0000;'>#{formatted_date(day.date_from)}</span><span class=\"fl\" style='color:black;'>#{truncate(day.school.name, :length => 45, :omission => '&hellip;')}</span>", school_path(day.school)
  .b        