<% @page_title = "FAQ" %>
<div class="advtopedge"></div>
<div class="col1 advantages relative">
<div class="advmid">
  <h2>FAQ</h2>
  <p>
    <strong>1. Podle čeho si mám vybrat obor a střední školu?</strong><br /> 
    Je dobré se rozhodovat podle toho, co vás baví, co vám jde a co vás zajímá. Pomůže vám napsat si na list papíru odpovědi na otázky: Jakou pracovní činnost chci dělat, kde chci pracovat, s čím chci pracovat, co chci vytvářet. 
</p>
  
  <p>
    <strong>1. Podle čeho si mám vybrat obor a střední školu?</strong><br /> 
    Je dobré se rozhodovat podle toho, co vás baví, co vám jde a co vás zajímá. Pomůže vám napsat si na list papíru odpovědi na otázky: Jakou pracovní činnost chci dělat, kde chci pracovat, s čím chci pracovat, co chci vytvářet. 
</p>
  

  
<table>
  <tr class="tabhead">
    <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 0 0;"><strong>Důvody volby oboru vzdělání (% kladných odpovědí) </strong></td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 20% 0;">Obráběč</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 40% 0;">Elektrikář</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 60% 0;">Automechanik</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 80% 0;">Elektromechanik</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 100% 0;"><strong>Vyučení-průměr</strong></td>
  </tr>
  <tr class="tabbody">
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">zájem o obor</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;">59%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">80%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;">95%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">71%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;"><strong>83%</strong></td>
  </tr>
  <tr class="tabbody">
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">snadné uplatnění</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;">77%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">71%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;">58%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">67%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;"><strong>65%</strong></td>
  </tr>
  <tr class="tabbody">
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">dobré finanční ohodnocení</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;">45%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">34%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;">36%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">40%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;"><strong>30%</strong></td>
  </tr>
  <tr class="tabbody">
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">přání rodičů</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;" >47%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">42%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;">34%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">46%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;"><strong>41%</strong></td>
  </tr>
  <tr class="tabbody">
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">špatné studijní výsledky / nepřijetí do jiného oboru</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;">28%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">20%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;">15%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">16%</td>
    <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;"><strong>21%</strong></td>
  </tr>
    <tr class="tabspod">
    <td colspan=6></td>
    </tr>    
</table>
  
</div>
<div class="advbotedge"></div>
</div> 
<!-- /.col1 -->
<div class="col2">

<%= render :partial => 'shared/box_search' %>


</div>