- @page_title = "Proč technický obor"
.col1.main
  %h2 Proč technický obor
  .box.box-detail1.item
  .box.box-detail2.item
    %h4 
      Technický obor – jistá budoucnost,  
    %p
      Nečekejte žádnou ubíjející rutinu v kanceláři. Vás čeká tvůrčí profese, která vám přinese uspokojení i uznání. Získáte jistotu dobrého zaměstnání a prostor učit se i objevovat nové věci. Už se sami sebe nikdy nezeptáte „Co teď budu dělat?“. Spíš budete přemýšlet, do čeho se chcete pustit dřív.     
    %br
    %br
    %h4 
      Ministryně školství, PhDr. Miroslava Kopicová
      = image_tag 'article-right.jpg', :class => 'img fl'
    %p.rodice
      &bdquo;Rozšiřování spolupráce škol a zaměstnavatelů je jednou z klíčových podmínek rozvoje středního odborného vzdělávání v České republice. To se nachází v nelehké situaci a přitom existuje v této oblasti spousta nevyužitého potenciálu. Cestu naznačuje např. Akční plán podpory odborného vzdělávání, který vznikl na MŠMT.
      = link_to 'čtěte více', 'http://new.autanasbavi.cz/aktualita/10-ministryne-skolstvi-phdr-miroslava-kopicova', :class => 'button-more'
      
  .box.box-detail3.item   
.col2b
  = render :partial => 'shared/box_search'

