- @page_title = "Pro rodiče a učitele"
.col1.main
  %h2 Pro rodiče a učitele
  .box.box-detail1.item
  .box.box-detail2.item
    %h2 
      Kocourek (ODS): Bez mladých techniků nemůžeme zůstat průmyslovou zemí
    %br  
    %h3  
      Základem je podpora technického vzdělání
    %p Na gymplu mu to moc nešlo, tak se přihlásil na techniku nebo na zemědělku, tam se dostane každej!" Kolikrát jsme každý nějakou podobnou větu slyšeli? Jejich jednoznačným, ale velmi smutným důsledkem je, že kredit technického studia není příliš vysoký. Ne, že bychom v zemi nepotřebovali poměrně hodně ekonomů, právníků, politologů, lékařů nebo třeba historiků umění. Ale nebudeme-li vychovávat nové techniky, nemůže český průmysl udržet svou konkurenceschopnost - a s nekonkurenceschopným průmyslem Česká republika nemůže zůstat průmyslovou zemí a uchovat si svou ekonomickou úroveň!
    %p Proto jsem před třemi týdny mezi prioritní úkoly Ministerstva průmyslu a obchodu pro nejbližší období zařadil podporu technického vzdělávání. Vedle zřetelně strategických priorit jako je Energetická politika nebo Exportní strategie ČR nad tím někteří lidé pozvedli obočí, ale čísla hovoří jasně.
    %p Například pro sektor energetiky je klíčové vzdělání v elektrotechnických oborech, které má v současné době 40 % pracovníků. Jejich věkový průměr je 44 let, zatímco průměr v celé ekonomice 40 let. Je to způsobeno tím, že se trvale zhoršuje zastoupení mladých techniků a naopak zvyšuje zastoupení jejich kolegů v předdůchodovém věku. Počet zaměstnanců ve věku 55 let a více se tak během posledních šesti let zvýšil o více než třetinu a jejich podíl se z necelých 10 % v roce 2002 zvýšil na 16 % v roce 2007. Naproti tomu počet pracovníků ve věku do 34 let poklesl z původních téměř 36 tis. na 25 tis., jejich podíl na celkovém počtu zaměstnanců se tak snížil z 28 % na 25 %. Jinými slovy - nezměníme-li tento trend, můžeme se brzy dostat do situace, že pracovníci odcházející do důchodu nebudou mít své zkušenosti komu předat.
    %p Rizika takového vývoje jsou jasná: ČR může v dohledné době ztratit nejen soběstačnost v dodávkách energie, ale také pozici silného vývojáře a dodavatele investičních celků, tedy pozici, kterou budovala desítky let. Při naplnění nejhorší varianty vývoje bychom dokonce ztratili i schopnost vlastní produkce energetických celků a byli odkázáni na dovoz komponentů elektráren a celých technologií - a to v době, kdy celosvětová poptávka po nových elektrárnách rychle poroste - a s ní i ceny.
    %p Proto je podpora technického vzdělávání velkou prioritou MPO. Proto jsem dnes zašel na ČVUT, abych při zahájení akademického roku upoutal na toto téma trochu pozornosti novinářů. S panem rektorem Havlíčkem jsme se shodli, že zájmy technických univerzit jsou si velmi blízké: za prvé nalákat na technické školy kvalitní absolventy škol středních, za druhé jim poskytnout vzdělání na maximální rozumně dosažitelné úrovni a za třetí je po absolutoriu udržet v oboru, nenechat je odejít například na pozice bankovních nebo pojišťovacích poradců. Budeme dále společně vymýšlet, co všechno pro to můžeme udělat.
    %p V závěru mé dnešní návštěvy na ČVUT jsme s panem rektorem poobědvali v Technické menze v ulici Jugoslávských partyzánů. Nemohl jsem si nevzpomenout, jak jsem do ní chodíval na jídlo celkem pravidelně, než jsem v roce 1992 na stavební fakultě získal titul inženýra. Za tu dobu se samozřejmě mnohé změnilo, ale pořád je to ten stejný prostor, kde by mě před těmi dvěma desítkami let ani náhodou nenapadlo, že zdejší studentík jednou může být ministrem... 
    %p 
      %b 
        ZDROJ: 
      URL| http://www.parlamentnilisty.cz/article.aspx?rubrika=1329&clanek=175960
    %br  
    %h3     
      Jedinečné obory i absolventi
    %p
      %b 21.10.2010   
      Mladá fronta DNES  
      %br  
      %b str. 53   
      Dnes + střední školy – příloha 
      %br
      %b AUTOR:  
      Alena Rokosová    Škoda Auto  
      %p Školy, které jsou něčím jedinečné, nemají o studenty nouzi a mohou se pochlubit mnoha úspěchy a známými absolventy. Třeba studenty hotelové školy, kteří obsluhovali prezidenty.
      %p STŘEDNÍ ČECHY Nemají problémy s nedostatkem studentů a stále si mohou vybírat. I takové školy v kraji jsou. Mají jedno společné: jedinečné zaměření, které studenti jinde v kraji nenajdou.
      %p Třeba jako sportovní gymnázium v Kladně. Studovala je třeba držitelka bronzové medaile z mistrovství světa v Helsinkách diskařka Věra Cechlová Pospíšilová, hokejisté Tomáš Plekanec nebo Rostislav Olesz a nedávno tu maturovala i sedmibojařka Eliška Klučinová.
      %p „Studium máme všeobecné a s rozšířenou výukou tělocviku. Máme tu studenty z mnoha koutů kraje, bydlí na internátě,“ říká ředitel školy Jiří Stejskal. Podle něj není problém třídy zaplnit, jen je menší převis uchazečů než dřív. Totéž tvrdí i ředitelka Střední školy oděvního a grafického designu v Lysé nad Labem Irena Mázlová. „Už není třikrát víc zájemců, než můžeme přijmout, ale pořád je z čeho vybírat,“ podotýká.
      %p Studijní program Oděvní design letos běží šestým rokem, Grafický design čtvrtým. „Zatím slavné návrháře nemáme, ale protože studenti pokračují na uměleckých školách, doufám, že to přijde,“ říká s úsměvem Mázlová.
      %h4 
        Studoval tu ministr
      %p Jediná hotelová střední škola je v Poděbradech. Letos bez problémů zaplnili čtyři nové třídy.
      %p Škola spolupracuje s Kanceláří prezidenta České republiky, třeba v dubnu studenti na Pražském Pozn.: Jde o výběr škol. Všechny střední školy zřizované krajem na: http://www.kr-stredocesky.cz/portal/odbory/Skolstvi/Adresář+škol.htm hradě obsluhovali prezidenty Baracka Obamu a Dmitrije Medveděva.
      %p „Naši absolventi jsou manažeři a ředitelé čtyřhvězdičkových a pětihvězdičkových hotelů,“ poznamenává ředitelka školy Jana Podoláková. Nejslavnějším absolventem této školy je bývalý ministr pro místní rozvoj Rostislav Vondruška.
      %p Jedinými školami svého druhu v kraji jsou i lesnická škola v Křivoklátě nebo zahradnická škola v Mělníku. Příští rok tu otevřou učební obor Zahradník. „Budeme pak pokrývat škálu vzdělání od učebního oboru přes maturitní obor, vyšší odborné vzdělání i bakalářský program,“ říká ředitel školy Ivan Roušal.
      %p Průkopníkem je i EKO Gymnázium v Poděbradech, které příští rok otevře kombinovanou formu studia. „Spolupracujeme s ČVUT a možná se do Poděbrad zase vrátí vysokoškolské studium, které tu dřív bylo,“ uvádí ředitel Zbyněk Lukavec.
    %p 
      %b 
        ZDROJ: 
      Regionální mutace| Mladá fronta DNES - střední čechy (střed)
    %br  
    %h3     
      Odtučňovací kúra. Začíná rušení tříd i celých škol
    %p Krajští politici plánují na školách radikální změny. Je to ale jen začátek. Zavírání tříd a celých škol čeká v příštích letech velkou část škol.
    %p V příštím roce nastoupí do prvních ročníků středních škol o více než tisíc dětí méně než letos. V roce 2015 ubude více než tři tisíce studentů.
    %p A tak se kraj připravuje na další zavírání tříd, a dokonce celých škol. „Při pohledu na demografickou křivku je jasné, že tolik škol v kraji fungovat nemůže. Další změny budou muset přijít,“ uvedla krajská radní pro školství Jana Pernicová. Jediný typ škol, který nemusí žít v nejistotě, jsou obchodní akademie.
    %p V kraji totiž fungují čtyři a politici na ně přesunou všechny ekonomické obory. Předměty, jako ekonomika podnikání nebo ekonomika a management, už se nikde jinde učit nebudou.
    %p Střední odborné školy a učiliště ale největší změny teprve čekají. Už od příštího školního roku začne fungovat systém „dvojic“ na gymnáziích.
    %p Kraj totiž vytvořil dvojice škol, které budou střídavě otevírat třídu čtyřletého studia. Jeden rok bude vždycky hluchý. Ve dvojicích jsou gymnázium ve Svitavách s gymnáziem v Moravské Třebové, Polička se bude střídat s Litomyšlí a čtyřleté studium budou na střídačku otevírat i ve Vysokém Mýtě a České Třebové.
    %p To ale zdaleka není konec. „Je to přechodné období. Ještě se rozhodneme, jak síť gymnázií upravit. Chceme, aby to byly výběrové školy a chodilo na ně pouze devatenáct procent středoškolských studentů,“ uvedla Jana Pernicová a dodala, že změny čekají nejen čtyřleté, ale také osmileté studium.
    %p Z devatenácti procent studentů gymnázií by patnáct mělo být ze čtyřletého studia a pět z osmiletého. „A devatenáct procent je proto, že se chceme přiblížit celostátnímu průměru a podpořit zájem dětí o technické vzdělání,“ řekla Jana Pernicová.
    %p Podle všeho to vypadá, že kraj bude muset v příštích letech některé z gymnázií dokonce zavřít. Pokud tedy bude chtít dodržet svůj slib a zachovat gymnázia jako výběrové školy.
    %p 
    %p Máme ve školách 8800 volných míst
    %p Další zavírání tříd a nejspíš i celých škol čeká i střední odborné školy. Některé se zatím nejspíš budou muset vzdát některých svých budov. „Některé školy mají budovy, které nemohou naplnit. Už teď je podle našich údajů na školách volných 8800 volných míst. Školám jsme ale také navrhli, aby prostory použili pro kurzy celoživotního vzdělávání. To řeší také problém s úvazky učitelů,“ řekla Jana Pernicová. Ti by totiž na uzavírání tříd a škol doplatili - ředitelé by je museli propouštět, nebo jim krátit úvazky.
    %p 
    %p FAKTA Novinky na středních školách
    %p 1. Zavírat se budou další třídy na gymnáziích. Mělo by se uzavřít osm tříd (včetně osmiletého studia) -čtyři na Pardubicku, tři na Svitavsku a dvě na Orlickoústecku
    %p 2. V příštím školním roce se neotevře studijní obor Technické lyceum, který ještě letos vyučují tři střední školy
    %p 3. Ekonomické obory zmizí ze středních odborných škol a budou se vyučovat na obchodních akademiích.
    %p 4. Zaniknou vyšší odborné školy - po dohodě s univerzitami je nahradí bakalářské studijní obory 
    %p 5. Základní umělecké školy a domy dětí a mládeže převede kraj na města a obce 
    %p 6. Střední školu a učiliště v Rybitví nečeká sloučení, které kraj avizoval. Naopak by se měla rozšířit o další studijní obor
    %p 7. Střední školu technickou v Litomyšli nečeká stěhování do budov učiliště ve Svitavách, ale sloučení se střední školou zahradnickou v Litomyšli.
    %p 
      Foto autor| Foto: Radek Kalhous, MF DNES
      %br
      %b 
        ZDROJ: 
      Regionální mutace| Mladá fronta DNES - pardubický kraj        
    %br  
    %h3  
      Absolventi techniky se točí v kruhu: Nemají praxi
    %p TECHNICKÉ OBORY JSOU PERSPEKTIVNÍ, PŘESTO O NĚ MÁ ZÁJEM STÁLE MÉNĚ ŽÁKŮ. DŮVODEM JE NEJEN KLESAJÍCÍ DEMOGRAFICKÁ KŘIVKA, ALE TAKÉ OBAVA Z OBTÍŽNÉHO STUDIA A ŠPATNÉHO UPLATNĚNÍ ABSOLVENTŮ. 
    %p „Nezájem o technické obory je problém, který se táhne dlouhodobě, začíná u učebních oborů a pokračuje až na vysoké školy,“ potvrzuje Jiří Vojtěch z Národního ústavu odborného vzdělávání. Podle něj odrazuje žáky při výběru středních škol náročnost studia a také nízké platy. 
    %p Podle Martiny Kubínové z ostravského úřadu práce přitom firmy po absolventech škol s technickým zaměřením stále volají. „Vlivem hospodářské krize však v mnohem menší míře než dříve. V současné době eviduje ostravský úřad práce 153 míst pro absolventy škol, z nich sedmdesát pro absolventy technicky vzdělané. Při hledání pracovního uplatnění vždy záleží na odborných znalostech a dovednostech, velkou výhodou je samotná praxe,“ uvedla Kubínová. 
    %p Uchazeči s technickým vzděláním přitom v Ostravě tvoří patnáct až dvacet procent všech nezaměstnaných. „Počet lidí s technickým zaměřením je poměrně velký. Značná část z nich ale neodpovídá požadavkům ze strany zaměstnavatelů, jako jsou jazykové schopnosti, praxe, chybějící osvědčení či profesní zkoušky,“ řekla Kubínová. Podobnou zkušenost má také Pavel Skalský, který před dvěma lety absolvoval střední průmyslovou školu v Brně. „Největší překážku v hledání zaměstnání v oboru je tříletá praxe, kterou požadují skoro všude, takže je téměř nezískatelná. Kromě toho firmy často vyžadují různá kvalifikační osvědčení, která jsem neměl ve škole příležitost získat, přestože bych tu práci udělat uměl,“ stěžuje si Skalský. 
    %p Právě proto je podle Vojtěcha k obnově technického vzdělávání zapotřebí účast zejména soukromého sektoru. „Střední školy dnes ze svého vlastního zájmu musí spolupracovat s firmami. Nejde jen o “ nanční podporu či možnosti praxe a stáží, které studenty motivují,“ tvrdí Vojtěch. 
    %p To potvrzuje například i generální ředitel společnosti Siemens Industrial Turbomachinery Vladimír Štěpán. „Snažíme se pracovat už se studenty na střední škole. Vidíme, že jsou velmi dobře teoreticky vzdělaní, potřebujeme ale, aby tyto znalosti uměli uplatnit přímo v praxi. Často se totiž stává, že po příchodu absolventů do naší firmy je musíme mnoha věcem naučit. Z toho pro nás vznikají další náklady,“ říká Štěpán. 
    %p Technické obory se snaží podporovat také kraje, a to nejen “ nančními příspěvky na materiální vybavení škol, ale také stipendii pro studenty vybraných oborů. Jihomoravský kraj například letos “ nančně podpoří účast středních škol na Mezinárodním strojírenském veletrhu v Brně. 
    %p „Bezplatnou účast jsme nabídli také žákům 8. a 9. tříd základních škol, kteří mají možnost seznámit se s vzdělávací nabídkou středních škol a poznat moderní trendy ve strojírenském průmyslu a dalších technických odvětvích. Slibujeme si od toho, že se zvýší zájem žáků o technické obory a prohloubí se spolupráce technických firem se středními školami z jižní Moravy,“ uvedl mluvčí Jihomoravského kraje Jan Chmelíček. 
    %p Do podpory technických oborů se pustila také města. Například v Kopřivnici spustili projekt Techno 2012, do kterého se zapojily čtyři kopřivnické základní školy. Žáky druhého stupně čeká řada prezentací, workshopů a exkurzí nebo nová polytechnická učebna. 
    %p Jestli ale tyto aktivity přispějí k rozvoji technického vzdělávání, není jisté. „Záležet bude hlavně na tom, jak se bude do budoucna vyvíjet nezaměstnanost a také platy v jednotlivých sektorech národního hospodářství,“ tvrdí Vojtěch. Trend nedostatku technických absolventů je přitom možné sledovat v celé Evropě. Zatímco v Asii chce studovat vědecké a technické obory šedesát procent patnáctiletých, v Evropě je to zhruba patnáct procent. 
    %p
    %h4    
      Nástupní platy 
    %p      
      Technik 15–20 tisíc 
      %br Zámečník 13–17 tisíc 
      %br Klempíř 10–20 tisíc 
      %br Zedník 12 tisíc 
      %br 
      %br Zdroj: Úřad práce Ostrava 
    %p
    %h3      
      Kolik jich je? 
    %h4      
      ZLÍNSKÝ KRAJ     
    %div.zaci        
      %table
        %tr
          %td 
            %b Počty nově přijatých žáků                                             
          %td 2009/2010                
          %td 2005/2006 
        %tr
          %td střední s výučním vzdělání listem             
          %td 2 097                      
          %td 2 741 
        %tr
          %td střední s maturitní odborné zkouškou vzdělání   
          %td 3 111                     
          %td 3 317 
    %br
    %h4    
      Nejpočetnější obory      
    %p        
      1. Ekonomika a administrativa (MZ) 789 
      %br 2. Obecně odborná příprava (MZ) 457 
      %br 3. Gastronomie a hotelnictví (VL) 448 
      %br 4. Strojírenství (VL) 431 
      %br 5. Stavebnictví (VL) 303 

    %h4      
      OLOMOUCKÝ KRAJ      
    %div.zaci       
      %table
        %tr
          %td 
            %b Počty nově přijatých žáků                                           
          %td 2009/2010                
          %td 2005/2006 
        %tr
          %td střední s výučním vzdělání listem             
          %td 2 614                                           
          %td 3 143 
        %tr
          %td střední s maturitní odborné zkouškou vzdělání   
          %td 3 010                                         
          %td 3 080  
    %br
    %h4    
      Nejpočetnější obory      
    %p        
      1. Strojírenství (VL) 530 
      %br 2. Gastronomie a hotelnictví (VL) 516 
      %br 3. Ekonomika a administrativa (MZ) 451 
      %br 4. Zemědělství a lesnictví (VL) 325 
      %br 5. Stavebnictví (VL) 309 

    %h4      
      VYSOČINA      
    %div.zaci       
      %table
        %tr
          %td 
            %b Počty nově přijatých žáků                                           
          %td 2009/2010                
          %td 2005/2006 
        %tr
          %td střední s výučním vzdělání listem             
          %td 2 119                                                                    
          %td 2 346  
        %tr
          %td střední s maturitní odborné zkouškou vzdělání   
          %td 2 669                                                                   
          %td 2 665   
    %br
    %h4    
      Nejpočetnější obory      
    %p        
      1. Ekonomika a administrativa (MZ) 626 
      %br 2. Gastronomie a hotelnictví (VL) 471 
      %br 3. Strojírenství (VL) 380 
      %br 4. Obecně odborná příprava (MZ) 358 
      %br 5. Gastronomie a hotelnictví (MZ) 358 

    %h4      
      JIHOMORAVSKÝ KRAJ       
    %div.zaci       
      %table
        %tr
          %td 
            %b Počty nově přijatých žáků                                           
          %td 2009/2010                
          %td 2005/2006 
        %tr
          %td střední s výučním vzdělání listem             
          %td 4 501                                                                                                
          %td 4 927   
        %tr
          %td střední s maturitní odborné zkouškou vzdělání   
          %td 5 886                                                                                             
          %td 5 886   
    %br
    %h4    
      Nejpočetnější obory      
    %p        
      1. Ekonomika a administrativa (MZ) 1 154 
      %br 2. Gastronomie a hotelnictví (VL) 920 
      %br 3. Strojírenství (VL) 808 
      %br 4. Obecně odborná příprava (MZ) 729 
      %br 5. Stavebnictví (VL) 644 

    %h4      
      MORAVSKOSLEZSKÝ KRAJ        
    %div.zaci   
      %table  
        %tr
          %td 
            %b Počty nově přijatých žáků                                           
          %td 2009/2010                
          %td 2005/2006 
        %tr
          %td střední s výučním vzdělání listem             
          %td    4 905                                                                                                                         
          %td 6 459    
        %tr
          %td střední s maturitní odborné zkouškou vzdělání   
          %td 6 414                                                                                                                       
          %td 6 946    
    %br
    %h4    
      Nejpočetnější obory      
    %p        
      1. Ekonomika a administrativa (MZ) 1 329 
      %br 2. Strojírenství (VL) 1 192 
      %br 3. Gastronomie a hotelnictví (VL) 1 138 
      %br 4. Obecně odborná příprava (MZ) 824 
      %br 5. Gastronomie a hotelnictví (MZ) 640 
      %br 
      %br MZ – maturitní zkouška 
      %br VL – výuční list Zdroj: www. nuov. cz 
      %br 
      %br Autor: Hana Nečasová 
      %br Zdroj: Moravské hospodářství 
      %br 7.9. 2010 
      
             
  .box.box-detail3.item   
.col2b
  = render :partial => 'shared/box_search'

