<% @page_title = "Výhody technických oborů | Bude vás to bavit" %>
<div class="advtopedge"></div>
<div class="col1 advantages relative">
<div class="advmid">
  <h2>Výhody technických oborů</h2>
  <p class="message">Prakticky zaměřené studium vás bude bavit.</p>
  
  <h3>1. Atraktivní studium si najdete přímo ve svém regionu!</h3>
  <p class="offsetBottom">Svůj obor i budoucího zaměstnavatele si můžete <%= link_to 'vybrat přímo ve svém regionu.', map_path %></p>

  <h4>Technické školy úzce spolupracují s průmyslovými podniky:</h4>
  <ul class="advantages">
    <li>Jako absolvent střední odborné školy či učiliště budete schopen obstát  v moderním provozu svého oboru.</li>
    <li>Zaměstnavatelé v automobilovém průmyslu vám zajistí nabízejí praxe, odborné stáže, stipendia a další výhody. Seznámíte se tak s používáním nejnovějších technologií v praxi.</li>
  </ul>
  
  <h4>Technika vás chytne! </h4>
  <ul class="advantages">
    <li>Podle průzkumu jsou absolventi technických oborů nadprůměrně spokojeni s oborem, který studovali (viz tabulka – míra identifikace vyjadřuje procento absolventů, kteří by znovu zvolili stejný studijní obor).</li>
  </ul>
  
  <table>
    <tr class="tabhead">
      <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 0 0;">SOU </td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 20% 0;" class="small center">Míra <br />identifikace</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 40% 0;">SOS</th>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 60% 0;" class="small center">Míra <br />identifikace</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 80% 0;">VOS</th>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 100% 0;" class="small center">Míra <br />identifikace</td>
    </tr>
    <tr class="tabbody">
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">Mechanik- opravář</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;" class="center">77 %</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">Elektrotechnika</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;" class="center">62 %</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">Strojírenství</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;" class="center">83 %</td>
    </tr>
    <tr class="tabbody">
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;">Automechanik</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;" class="center">81 %</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">Strojírenství</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;" class="center">64 %</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">Elektrotechnika</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;" class="center">84 %</td>
    </tr>
    <tr class="tabbody">
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 0 0;" style="background: url('../imagesnew/stred_stranek/tabulka_vrh.png') no-repeat 0 0;">Průměr všech oborů</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 20% 0;" class="center">64 %</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 40% 0;">Průměr všech oborů</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 60% 0;" class="center">64 %</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 80% 0;">Průměr všech oborů</td>
      <td style="background: url('../imagesnew/stred_stranek/tabulka_stred.jpg') no-repeat 100% 0;" class="center">81 %</td>
    </tr>
    <tr class="tabspod">
    <td colspan=6></td>
    </tr>
  </table>
  <p class="small">*Údaje o spokojenosti absolventů s dalšími obory najdete na <a href="http://www.infoabsolvent.cz">www.infoabsolvent.cz</a></p>
</div>
<div class="advbotedge"></div>
</div> 
<!-- /.col1 -->
<div class="col2">

<%= render :partial => 'shared/box_search' %>
  <div class="boxSubmenu">
    <%= render :partial => "shared/vto_navigation" %>
  </div>

</div>